<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"><div class="container">
	<div class="profile" class="form-group">
		<form action="/profile" method="post" enctype="multipart/form-data">
			<div class="pic">
					<div class="img">
						<label for="dp_input">
								<img src="/favicon.ico" id="dp"/>
						</label>
						<input type="file" accept="image/*" name="dp" id="dp_input" hidden>
					</div>
			</div>
			<div>
				<input type="text" value="name" id="name" class="form-control" name="name" maxlength="20">
				<p id="email">foo@foo.com</p>
				<p id="score">0</p>
				<p id="badge">~</p>
				<input type="submit" value="save" class="btn btn-primary btn-md">
			</div>
		</form>
		
</div>