#posts{
	width: 60%;
	min-height: 600px;
	background: #FFFFFF;
	float: left;
	padding: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: #8E8E96;
	border-radius: 3px;
	
}
.photo_div{
	width: 100%;
	clear: both; 
	background: #ffffff;
	height: auto;
	margin-bottom: 10px;
	margin-right: 10px;
}
#main_container{
	margin-top: 75px;
}
.photo_post{
	width: 100%;
	display: inline-block;
	background: #FFFFFF;
}
input[type="file"], button, #photo{
	float: left;
}
.photo{
	max-width: 100%;
	height: auto;
}
#chat_region{
	padding-top: 20px;
	width: 40%;
	height: 600px;
	max-height: 600px;
	background: #FFFFFF;
	float: left;
	border-style: solid;
	border-width: 1px;
	border-color: #8E8E96;
	border-radius: 3px;
}
#container2{
	display: inline-block;
	width: 100%;
	background: white;
}
textarea#caption{
	float:left;
	clear:both;
	width:100%;
	resize:none;
}

